<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>编辑</title>
</head>
<body>
<!-- @{|/book/${book.bid}|} -->
<form th:action="@{|/admin/book/${book.bid}|}" method="post">
	<input type="hidden" name="_method" value="put"/>
	<scan>序号：</scan><scan th:text="${book.bid}"></scan>
    <br/>
    书名：<input th:value = "${book.bname}"  type="text" name="bname"/>
    <br/>
    内容：<input th:value = "${book.content}"  type="text" name="content"/>
    <br/>
	<button type="submit" > 更新</button>
</form>
</body>
</html>